body {
    font-family: "Candara", "Calibri", "Tahoma", "Verdana", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background: hsl(27, 35%, 50%);
}

    body * {
        cursor: default;
    }

#main {
    position: absolute;
    background: hsl(31.85, 50%, 30%);
    left: 0;
    top: 0;
    width: 100vw;
    height: 68vw;
    box-shadow: .6vw .6vw 1vw rgba(0,0,0,.5);
}

    #main > *, #main > *:not(.dialog) > * {
        position: absolute;
    }

    #main > #board {
        left: 2vw;
        top: 10vw;
        width: 98vw;
        height: 58vw;
    }

        #main > #board > .overlay {
            background: hsl(31.85, 50%, 30%);
        }

            #main > #board > .overlay#overlay-bottom {
                top: 56vw;
                left: 0;
                width: 96vw;
                height: 2vw;
            }

            #main > #board > .overlay#overlay-right {
                top: 0;
                right: 0;
                width: 2vw;
                height: 58vw;
            }

        #main > #board > .background {
            background: hsl(31.85, 50%, 70%);
        }

        #main > #board > .shadow {
            box-shadow: .3vw .3vw .5vw rgba(0, 0, 0, .3) inset;
        }

        #main > #board > .main-area {
            width: 42vw;
            height: 56vw;
            top: 0;
        }

            #main > #board > .main-area.left {
                left: 0;
            }

            #main > #board > .main-area.right {
                right: 10vw;
            }

        #main > #board > .home {
            width: 6vw;
            height: 27vw;
            left: 90vw;
        }

            #main > #board > .home.white {
                top: 0;
            }

            #main > #board > .home.black {
                bottom: 2vw;
            }

            #main > #board > .home.selectable {
                background: hsla(110,70%,70%,.5);
            }

        #main > #board > .tongue {
            width: 0;
            height: 0;
            border: none;
            border-left: 3.5vw solid transparent !important;
            border-right: 3.5vw solid transparent !important;
            /* Firefox-specific fix for smooth anti-aliased triangles */
            -moz-transform: scale(1.0001);
        }

            #main > #board > .tongue.top {
                top: 0;
                border-top-width: 25vw;
                border-top-style: solid;
            }

            #main > #board > .tongue.bottom {
                bottom: 2vw;
                border-bottom-width: 25vw;
                border-bottom-style: solid;
            }

            #main > #board > .tongue.dark:not(.selectable) {
                border-color: hsl(27.1, 33.3%, 54.9%);
            }

            #main > #board > .tongue.light:not(.selectable) {
                border-color: hsl(36.6, 66.7%, 82.5%);
            }

            #main > #board > .tongue.selectable {
                border-color: hsla(110,70%,70%,.7);
            }

        #main > #board > .tongue-0, #main > #board > .tongue-23 {
            left: 81vw;
        }

        #main > #board > .tongue-1, #main > #board > .tongue-22 {
            left: 74vw;
        }

        #main > #board > .tongue-2, #main > #board > .tongue-21 {
            left: 67vw;
        }

        #main > #board > .tongue-3, #main > #board > .tongue-20 {
            left: 60vw;
        }

        #main > #board > .tongue-4, #main > #board > .tongue-19 {
            left: 53vw;
        }

        #main > #board > .tongue-5, #main > #board > .tongue-18 {
            left: 46vw;
        }

        #main > #board > .tongue-6, #main > #board > .tongue-17 {
            left: 35vw;
        }

        #main > #board > .tongue-7, #main > #board > .tongue-16 {
            left: 28vw;
        }

        #main > #board > .tongue-8, #main > #board > .tongue-15 {
            left: 21vw;
        }

        #main > #board > .tongue-9, #main > #board > .tongue-14 {
            left: 14vw;
        }

        #main > #board > .tongue-10, #main > #board > .tongue-13 {
            left: 7vw;
        }

        #main > #board > .tongue-11, #main > #board > .tongue-12 {
            left: 0;
        }

        #main > #board > .automove {
            border-left: 3.5vw solid hsla(110,70%,70%,.6);
            border-top: 1.5vw solid transparent;
            border-bottom: 1.5vw solid transparent;
            width: 0;
            height: 0;
            border-radius: 1.5vw;
            margin-left: -.5vw;
        }

            #main > #board > .automove.prison {
                left: 42.25vw;
            }

            #main > #board > .automove.top, #main > #board > .automove.white.home, #main > #board > .automove.black.prison {
                top: -1.5vw;
            }

            #main > #board > .automove.bottom, #main > #board > .automove.black.home, #main > #board > .automove.white.prison {
                bottom: 1.5vw;
            }

    #main.player-black > #board > .automove.top,
    #main.player-white > #board > .automove.bottom {
        border-right: 3.5vw solid hsla(110,70%,70%,.6);
        border-left: none;
    }

        #main.player-white > #board > .automove.bottom.target,
        #main.player-white > #board > .automove.top.source,
        #main.player-black > #board > .automove.bottom.source,
        #main.player-black > #board > .automove.top.target {
            margin-left: 4vw;
        }

    #main > #board > .piece, #main > #win > .piece, #main > #infobar > .infobox > .piece, #main > #infobar > .infobox > .infobox-inner > .piece {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        border: .3vw solid transparent;
        border-top: .2vw solid transparent;
        border-left: .2vw solid transparent;
        box-shadow: .3vw .3vw .5vw rgba(0, 0, 0, .3);
    }

        #main > #board > .piece.white,
        #main.state-White.state-Won > #win > .piece,
        #main.player-white > #infobar > #info-player > .piece,
        #main.state-White > #infobar > #info-state > .piece,
        #main > #infobar > .infobox > .infobox-white > .piece {
            background-image: linear-gradient(135deg, hsl(31.85, 50%, 90%), hsl(31.85, 50%, 100%));
            border-color: hsl(31.85, 50%, 100%) hsl(31.85, 50%, 90%) hsl(31.85, 50%, 90%) hsl(31.85, 50%, 100%);
        }

            #main > #board > .piece.white.selected {
                background-image: linear-gradient(135deg, hsl(0, 100%, 85%), hsl(0, 100%, 90%));
                border-color: hsl(0, 100%, 90%) hsl(0, 100%, 85%) hsl(0, 100%, 85%) hsl(0, 100%, 90%);
            }

        #main > #board > .piece.black,
        #main.state-Black.state-Won > #win > .piece,
        #main.player-black > #infobar > #info-player > .piece,
        #main.state-Black > #infobar > #info-state > .piece,
        #main > #infobar > .infobox > .infobox-black > .piece {
            background-image: linear-gradient(135deg, hsl(31.85, 50%, 0%), hsl(31.85, 50%, 20%));
            border-color: hsl(31.85, 50%, 20%) hsl(31.85, 50%, 0%) hsl(31.85, 50%, 0%) hsl(31.85, 50%, 20%);
        }

            #main > #board > .piece.black.selected {
                background-image: linear-gradient(135deg, hsl(0, 100%, 20%), hsl(0, 100%, 30%));
                border-color: hsl(0, 100%, 30%) hsl(0, 100%, 20%) hsl(0, 100%, 20%) hsl(0, 100%, 30%);
            }

        #main > #board > .piece.selectable::before {
            position: absolute;
            left: -.2vw;
            top: -.2vw;
            right: -.3vw;
            bottom: -.3vw;
            background: hsl(110, 50%, 50%);
            border-radius: 100%;
            content: '';
            opacity: .3;
            -moz-animation: selectable-blink 1s ease-in-out 0s infinite alternate;
            -o-animation: selectable-blink 1s ease-in-out 0s infinite alternate;
            -webkit-animation: selectable-blink 1s ease-in-out 0s infinite alternate;
            animation: selectable-blink 1s ease-in-out 0s infinite alternate;
        }

        #main > #board > .piece.selectable.selected::before {
            display: none;
        }

        #main > #board > .piece.hypo-target {
            opacity: .5;
            -moz-animation: hypo-blink 1s ease-in-out 0s infinite alternate;
            -o-animation: hypo-blink 1s ease-in-out 0s infinite alternate;
            -webkit-animation: hypo-blink 1s ease-in-out 0s infinite alternate;
            animation: hypo-blink 1s ease-in-out 0s infinite alternate;
            pointer-events: none;
        }

    #main.player-white.state-White.state-ToMove > #board > .piece.white,
    #main.player-black.state-Black.state-ToMove > #board > .piece.black,
    #main > #board > .automove {
        cursor: pointer;
    }

    #main > #board > .dice-back {
        border-radius: 1vw;
        width: 6vw;
        height: 6vw;
        top: 25vw;
        font-family: "Impact";
        text-align: right;
        text-transform: uppercase;
        white-space: nowrap;
        pointer-events: none;
        opacity: 0;
        -moz-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
    }

        #main > #board > .dice-back#dice-back-white {
            left: 60.5vw;
            background-image: linear-gradient(135deg, hsl(31.85, 50%, 90%), hsl(31.85, 50%, 100%));
        }

        #main > #board > .dice-back#dice-back-black {
            left: 67.5vw;
            background-image: linear-gradient(135deg, hsl(31.85, 50%, 0%), hsl(31.85, 50%, 20%));
        }

    #main.dice-start:not(.resigning) > #board > .dice-back {
        opacity: .5;
    }

    #main.dice-start.state-White > #board > #dice-back-white::before,
    #main.dice-start.state-White > #board > #dice-back-white::after {
        position: absolute;
        color: hsl(31.85, 50%, 95%);
        padding-right: .6vw;
        right: 100%;
    }

    #main.dice-start.state-Black > #board > #dice-back-black::before,
    #main.dice-start.state-Black > #board > #dice-back-black::after {
        position: absolute;
        color: hsl(31.85, 50%, 10%);
        padding-left: .6vw;
        left: 100%;
    }

    #main.dice-start.state-White > #board > #dice-back-white::before,
    #main.dice-start.state-Black > #board > #dice-back-black::before {
        font-size: 2.2vw;
        top: .8vw;
    }

    #main.dice-start.state-White > #board > #dice-back-white::after,
    #main.dice-start.state-Black > #board > #dice-back-black::after {
        font-size: 1.3vw;
        bottom: .8vw;
        content: 'starts';
    }

    #main.dice-start.state-White > #board > #dice-back-white::before {
        content: 'white';
    }

    #main.dice-start.state-Black > #board > #dice-back-black::before {
        content: 'black';
    }

    #main > #board > .dice {
        left: 61vw;
        top: 25.5vw;
        width: 5vw;
        height: 5vw;
        box-shadow: .3vw .3vw .5vw rgba(0, 0, 0, .3);
        background-image: linear-gradient(135deg, #fff, #ddd);
        border-radius: .5vw;
        opacity: 0;
        pointer-events: none;
        -moz-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
    }

        #main > #board > .dice > .razor {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            border-radius: inherit;
        }

            #main > #board > .dice > .razor > .face {
                position: absolute;
                background-image: linear-gradient(135deg, #ddd, #fff);
                left: .5vw;
                top: .5vw;
                width: 4vw;
                height: 4vw;
                border-radius: 30%;
            }

            #main > #board > .dice > .razor > .side {
                position: absolute;
                border-radius: 50%;
                width: 5vw;
                height: 1vw;
            }

                #main > #board > .dice > .razor > .side.n {
                    top: -.5vw;
                    left: .25vw;
                    background-image: linear-gradient(0deg, #fff, #ccc);
                }

                #main > #board > .dice > .razor > .side.w {
                    top: .25vw;
                    left: -.5vw;
                    width: 1vw;
                    height: 5vw;
                    background-image: linear-gradient(-90deg, #fff, #ccc);
                }

                #main > #board > .dice > .razor > .side.s {
                    bottom: -.5vw;
                    left: .25vw;
                    background-image: linear-gradient(0deg, #888, #eee);
                }

                #main > #board > .dice > .razor > .side.e {
                    top: .25vw;
                    right: -.5vw;
                    width: 1vw;
                    height: 5vw;
                    background-image: linear-gradient(-90deg, #888, #eee);
                }

        #main > #board > .dice > .pip {
            position: absolute;
            background: black;
            border-radius: 50%;
            width: .7vw;
            height: .7vw;
            box-shadow: .075vw .075vw 0 white;
        }

            #main > #board > .dice > .pip.a, #main > #board > .dice > .pip.b, #main > #board > .dice > .pip.c {
                left: 1vw;
            }

            #main > #board > .dice > .pip.g {
                left: 2.2vw;
            }

            #main > #board > .dice > .pip.b, #main > #board > .dice > .pip.e, #main > #board > .dice > .pip.g {
                top: 2.2vw;
            }

            #main > #board > .dice > .pip.d, #main > #board > .dice > .pip.e, #main > #board > .dice > .pip.f {
                right: 1vw;
            }

            #main > #board > .dice > .pip.a, #main > #board > .dice > .pip.d {
                top: 1vw;
            }

            #main > #board > .dice > .pip.c, #main > #board > .dice > .pip.f {
                bottom: 1vw;
            }

        #main > #board > .dice.val-1 .pip.a, #main > #board > .dice.val-1 .pip.b, #main > #board > .dice.val-1 .pip.c, #main > #board > .dice.val-1 .pip.d, #main > #board > .dice.val-1 .pip.e, #main > #board > .dice.val-1 .pip.f, #main > #board > .dice.val-2 .pip.b, #main > #board > .dice.val-2 .pip.c,
        #main > #board > .dice.val-2 .pip.d, #main > #board > .dice.val-2 .pip.e, #main > #board > .dice.val-2 .pip.g, #main > #board > .dice.val-3 .pip.a, #main > #board > .dice.val-3 .pip.b, #main > #board > .dice.val-3 .pip.e, #main > #board > .dice.val-3 .pip.f, #main > #board > .dice.val-4 .pip.b,
        #main > #board > .dice.val-4 .pip.e, #main > #board > .dice.val-4 .pip.g, #main > #board > .dice.val-5 .pip.b, #main > #board > .dice.val-5 .pip.e, #main > #board > .dice.val-6 .pip.g {
            display: none;
        }

        #main > #board > .dice > .cross {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 1em;
            font-size: 8vw;
            font-weight: bold;
            color: hsl(0, 80%, 50%);
            line-height: 1;
            opacity: 0;
            -moz-transition: opacity ease-in-out .2s;
            -o-transition: opacity ease-in-out .2s;
            -webkit-transition: opacity ease-in-out .2s;
            transition: opacity ease-in-out .2s;
        }

            #main > #board > .dice > .cross::after {
                position: relative;
                left: -50%;
                top: -50%;
                content: '✗';
            }

        #main > #board > .dice.crossed > .cross {
            opacity: .8;
        }

    #main.dice-2:not(.resigning) > #board > #dice-0, #main.dice-2:not(.resigning) > #board > #dice-1, #main.dice-4:not(.resigning) > #board > .dice {
        opacity: .5;
    }

    #main.dice-2 > #board > #dice-1, #main.dice-4 > #board > #dice-2 {
        left: 68vw;
    }

    #main.dice-4 > #board > #dice-0 {
        left: 54vw;
    }

    #main.dice-4 > #board > #dice-3 {
        left: 75vw;
    }

    #main.player-white.state-White.state-ToMove.dice-2:not(.resigning) > #board > #dice-0,
    #main.player-white.state-White.state-ToMove.dice-2:not(.resigning) > #board > #dice-1,
    #main.player-white.state-White.state-ToMove.dice-4:not(.resigning) > #board > .dice,
    #main.player-white.state-White.state-ToMove.dice-start:not(.resigning) > #board > .dice-back,
    #main.player-black.state-Black.state-ToMove.dice-2:not(.resigning) > #board > #dice-0,
    #main.player-black.state-Black.state-ToMove.dice-2:not(.resigning) > #board > #dice-1,
    #main.player-black.state-Black.state-ToMove.dice-4:not(.resigning) > #board > .dice,
    #main.player-black.state-Black.state-ToMove.dice-start:not(.resigning) > #board > .dice-back {
        opacity: 1;
    }

    #main > #board > #cube {
        background-image: linear-gradient(135deg, #e8e8e8, #f0f0f0);
        border: .3vw solid white;
        border-radius: .5vw;
        border-bottom-color: #ccc;
        border-right-color: #ccc;
        width: 4.2vw;
        height: 4.2vw;
        box-shadow: .3vw .3vw .5vw rgba(0, 0, 0, .3);
        left: 41.6vw;
        top: 25.6vw;
    }

        #main > #board > #cube > .inner {
            position: absolute;
            left: 50%;
            top: 50%;
            font-family: "Calibri";
            font-size: 4vw;
            height: 1em;
            line-height: 1em;
        }

            #main > #board > #cube > .inner > #cube-text {
                position: relative;
                left: -50%;
                top: -50%;
                color: #222;
                text-shadow: .075vw .075vw 0 white;
            }

    #main.no-cube > #board > #cube {
        display: none;
    }

    #main.cube-white > #board > #cube {
        top: 2.3vw;
    }

    #main.cube-black > #board > #cube {
        top: 48.9vw;
    }

    #main > #board > .arrow {
        pointer-events: none;
        height: 2.5vw;
        background: #dd5;
    }

        #main > #board > .arrow::before {
            position: absolute;
            right: -6.25vw;
            top: -1.25vw;
            width: 0;
            height: 0;
            border: 2.5vw solid transparent;
            border-left: 4.0625vw solid #dd5;
            content: '';
        }

    #main > #board > #connecting::before {
        content: 'Reconnecting...';
    }

    #main > #board > button {
        height: 4vw;
        top: 26vw;
        width: 11vw;
        pointer-events: none;
        opacity: 0;
        -moz-transition: opacity ease-in-out .2s;
        -o-transition: opacity ease-in-out .2s;
        -webkit-transition: opacity ease-in-out .2s;
        transition: opacity ease-in-out .2s;
    }

    #main > #board > #commit {
        font-size: 1.8vw;
        left: 9vw;
    }

    #main > #board > #undo {
        font-size: 2vw;
        left: 22vw;
    }

    #main > #board > #accept {
        font-size: 1.8vw;
        left: 9vw;
    }

    #main > #board > #reject {
        font-size: 1.8vw;
        left: 22vw;
    }

    #main > #board > #roll, #main > #board > #resign-confirm {
        font-size: 2vw;
        left: 55vw;
    }

    #main > #board > #double {
        font-size: 1.8vw;
        left: 68vw;
    }

    #main > #board > #resign-cancel {
        font-size: 2vw;
        left: 68vw;
    }

    #main.state-ToRoll:not(.resigning) > #board > #roll,
    #main.state-ToRoll:not(.resigning) > #board > #double,
    #main.state-ToConfirmDouble:not(.resigning) > #board > #accept,
    #main.state-ToConfirmDouble:not(.resigning) > #board > #reject {
        opacity: .5;
    }

    #main.undoable:not(.resigning) > #board > #undo,
    #main.committable:not(.resigning) > #board > #commit,
    #main.player-white.state-White.state-ToRoll:not(.resigning) > #board > #roll,
    #main.player-black.state-Black.state-ToRoll:not(.resigning) > #board > #roll,
    #main.player-white.state-White.state-ToRoll:not(.resigning) > #board > #double,
    #main.player-black.state-Black.state-ToRoll:not(.resigning) > #board > #double,
    #main.player-white.state-White.state-ToConfirmDouble:not(.resigning) > #board > #accept,
    #main.player-black.state-Black.state-ToConfirmDouble:not(.resigning) > #board > #accept,
    #main.player-white.state-White.state-ToConfirmDouble:not(.resigning) > #board > #reject,
    #main.player-black.state-Black.state-ToConfirmDouble:not(.resigning) > #board > #reject,
    #main.resigning > #board > #resign-confirm,
    #main.resigning > #board > #resign-cancel {
        pointer-events: all;
        opacity: 1;
    }

    #main > #board > #info {
        pointer-events: none;
        opacity: 0;
        -moz-transition: opacity ease-in-out .5s, transform linear 2s;
        -o-transition: opacity ease-in-out .5s, transform linear 2s;
        -webkit-transition: opacity ease-in-out .5s, transform linear 2s;
        transition: opacity ease-in-out .5s, transform linear 2s;
        position: absolute;
        left: 0vw;
        top: 28vw;
        width: 42vw;
        text-align: center;
        font-size: 5vw;
        font-weight: bold;
        font-style: italic;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: hsl(31.85, 50%, 20%);
        text-shadow: .1vw .1vw .1vw hsl(31.85, 50%, 80%);
    }

    #main.auto-0 > #board > #info, #main.auto-1 > #board > #info, #main.resigning > #board > #info {
        opacity: 1;
        -moz-transform: translateY(-50%) scale(1.5);
        -ms-transform: translateY(-50%) scale(1.5);
        -o-transform: translateY(-50%) scale(1.5);
        -webkit-transform: translateY(-50%) scale(1.5);
        transform: translateY(-50%) scale(1.5);
    }

        #main.auto-0 > #board > #info::before {
            content: 'No moves';
        }

        #main.auto-1 > #board > #info::before {
            content: 'Forced move';
        }

        #main.resigning > #board > #info::before {
            content: 'Resign?';
        }

    #main.state-ToConfirmDouble > #board > #info {
        left: 47vw;
        opacity: 1;
    }

        #main.state-ToConfirmDouble > #board > #info::before {
            content: 'Double?';
        }

    #main > #connecting {
        color: hsl(0, 100%, 75%);
        font-size: 1vw;
        font-weight: bold;
        top: 0.3vw;
        right: 0.6vw;
        display: none;
    }

    #main.connecting > #connecting {
        display: block;
    }

    #main > .dialog {
        opacity: 0;
        pointer-events: none;
        margin: 0 15vw;
        top: 36vw;
        left: 0;
        right: 0;
        border: .7vw solid hsl(31.85, 50%, 20%);
        background: hsl(31.85, 50%, 70%);
        padding: 0 3vw;
        box-shadow: .3vw .3vw .5vw rgba(0, 0, 0, 0.3);
        color: hsl(31.85, 50%, 30%);
        -moz-transform: translateY(-50%) scale(.5);
        -ms-transform: translateY(-50%) scale(.5);
        -o-transform: translateY(-50%) scale(.5);
        -webkit-transform: translateY(-50%) scale(.5);
        transform: translateY(-50%) scale(.5);
        -moz-transition: transform 1s ease-out, opacity 1s ease-in-out;
        -o-transition: transform 1s ease-out, opacity 1s ease-in-out;
        -webkit-transition: transform 1s ease-out, opacity 1s ease-in-out;
        transition: transform 1s ease-out, opacity 1s ease-in-out;
    }

        #main > .dialog > p, #main > .dialog > form {
            text-align: center;
            font-size: 1.8vw;
            margin: 2vw 0;
        }

            #main > .dialog > p.link, #main > .dialog > form {
                background: hsl(31.85, 50%, 90%);
                padding: .5em 0;
                font-weight: bold;
            }

            #main > .dialog > p.link {
                font-family: monospace;
            }

    #main > #win > .win {
        margin: 3vw 0;
    }

        #main > #win > .win::before {
            display: block;
            background: hsl(31.85, 50%, 90%);
            padding: .2vw 0;
            font-size: 5vw;
        }

        #main > #win > .win::after {
            display: block;
            padding: .2vw 0 0;
            margin-bottom: -1.25vw;
            font-size: 2vw;
        }

    #main > #win > .piece {
        position: absolute;
        top: 3.7vw;
        left: 4.2vw;
    }

    #main > #win > .points {
        position: absolute;
        right: 4vw;
        text-align: right;
        top: 3.25vw;
    }

        #main > #win > .points > .number {
            font-family: "Roboto Light", "Calibri";
            font-size: 4vw;
            line-height: 4vw;
            margin: 0;
        }

        #main > #win > .points > .word {
            font-size: 1.5vw;
            line-height: 1.5vw;
            margin: 0;
        }

        #main > #win > .points.singular > .word::before {
            content: 'point';
        }

        #main > #win > .points.plural > .word::before {
            content: 'points';
        }

    #main.state-White.state-Waiting.player-white > #waiting,
    #main.state-Black.state-Waiting.player-black > #waiting,
    #main.state-White.state-Waiting:not(.player-white) > #joinable,
    #main.state-Black.state-Waiting:not(.player-black) > #joinable,
    #main.state-Won > #win {
        opacity: 1;
        pointer-events: all;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #main > #waiting > #send-this-link::before {
        content: 'Send the following link to your friend to allow them to join the game:';
    }

    #main > #waiting > #game-will-begin::before {
        content: 'The game will begin when the other player joins the game.';
    }

    #main > #joinable > #player-waiting::before {
        content: 'The player is waiting for an opponent to play with.';
    }

    #main.state-Won.state-White > #win > .win::before {
        content: 'White wins';
    }

    #main.state-Won.state-Black > #win > .win::before {
        content: 'Black wins';
    }

    #main.state-White.state-RejectedDouble > #win > .win::after {
        content: 'Black rejected a double.';
    }

    #main.state-Black.state-RejectedDouble > #win > .win::after {
        content: 'White rejected a double.';
    }

    #main.state-White.state-Resignation > #win > .win::after {
        content: 'Black resigned.';
    }

    #main.state-Black.state-Resignation > #win > .win::after {
        content: 'White resigned.';
    }

    #main > #joinable #join::before {
        content: 'Join game';
    }

    #main > #infobar {
        height: 6vw;
        left: 2vw;
        top: 2vw;
        width: 96vw;
    }

        #main > #infobar > .infobox {
            background: hsl(31.85, 50%, 70%);
            position: absolute;
            top: 0;
            height: 6vw;
        }

            #main > #infobar > .infobox > .piece, #main > #infobar > .infobox > .infobox-inner > .piece {
                position: absolute;
                top: .5vw;
            }

            #main > #infobar > .infobox#info-player {
                left: 0;
                width: 19vw;
            }

            #main > #infobar > .infobox#info-state {
                left: 21vw;
                width: 19vw;
            }

                #main > #infobar > .infobox#info-player > .piece, #main > #infobar > .infobox#info-state > .piece {
                    left: .9vw;
                }

            #main > #infobar > .infobox > .infobox-inner {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 11vw;
                overflow: hidden;
            }

                #main > #infobar > .infobox > .infobox-inner.infobox-white {
                    left: 0;
                }

                    #main > #infobar > .infobox > .infobox-inner.infobox-white > .piece {
                        right: -2.5vw;
                    }

                #main > #infobar > .infobox > .infobox-inner.infobox-black {
                    right: 0;
                }

                    #main > #infobar > .infobox > .infobox-inner.infobox-black > .piece {
                        left: -2.5vw;
                    }

                #main > #infobar > #info-player::before, #main > #infobar > #info-player::after,
                #main > #infobar > #info-state::before, #main > #infobar > #info-state::after,
                #main > #infobar > .infobox > .infobox-inner > .number {
                    position: absolute;
                    color: hsl(31.85, 50%, 30%);
                    font-family: "Impact";
                    text-transform: uppercase;
                    line-height: 1em;
                    white-space: pre;
                }

            #main > #infobar > .infobox#info-pips {
                left: 42vw;
                width: 22vw;
            }

            #main > #infobar > .infobox#info-match {
                left: 66vw;
                width: 22vw;
            }

        #main > #infobar > #info-player::before {
            left: 7vw;
            top: .5vw;
            font-size: 1.3vw;
        }

        #main > #infobar > #info-player::after {
            left: 7vw;
            bottom: .5vw;
            font-size: 3.4vw;
        }

        #main > #infobar > #info-state::before {
            left: 7vw;
            top: .5vw;
            font-size: 3.4vw;
        }

        #main > #infobar > #info-state::after {
            left: 7vw;
            bottom: .5vw;
            font-size: 1.3vw;
        }

        #main > #infobar > .infobox > .infobox-inner > .number {
            top: 3vw;
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 4vw;
            text-shadow: .3vw .3vw .5vw rgba(0, 0, 0, .3);
        }

        #main > #infobar > .infobox > .infobox-inner::after {
            text-transform: uppercase;
            position: absolute;
            top: 3vw;
            font-family: "Impact";
        }

        #main > #infobar > .infobox > .infobox-white::after {
            right: 0;
            -moz-transform: translateX(50%) translateY(-50%);
            -ms-transform: translateX(50%) translateY(-50%);
            -o-transform: translateX(50%) translateY(-50%);
            -webkit-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
            color: hsl(31.85, 50%, 10%);
        }

        #main > #infobar > .infobox > .infobox-black::after {
            left: 0;
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            color: hsl(31.85, 50%, 95%);
        }

        #main > #infobar > .infobox > .infobox-white > .number {
            right: 3.5vw;
            color: hsl(31.85, 50%, 95%);
        }

        #main > #infobar > .infobox > .infobox-black > .number {
            left: 3.5vw;
            color: hsl(31.85, 50%, 10%);
        }

    #main.spectating > #infobar > #info-player::before, #main.spectating > #infobar > #info-player::after {
        font-size: 2.4vw;
        left: 8.25vw;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #main.player-white > #infobar > #info-player::before, #main.player-black > #infobar > #info-player::before {
        content: 'You are playing';
    }

    #main.player-white > #infobar > #info-player::after {
        content: 'white';
    }

    #main.player-black > #infobar > #info-player::after {
        content: 'black';
    }

    #main.spectating > #infobar > #info-player > .piece {
        display: none;
    }

    #main.spectating > #infobar > #info-player::before {
        content: 'You are';
    }

    #main.spectating > #infobar > #info-player::after {
        content: 'spectating';
    }

    #main.state-White > #infobar > #info-state::before {
        content: 'White';
    }

    #main.state-Black > #infobar > #info-state::before {
        content: 'Black';
    }

    #main.state-Waiting > #infobar > #info-state::after {
        content: 'waiting';
    }

    #main.state-ToRoll > #infobar > #info-state::after {
        content: 'to roll';
    }

    #main.state-ToConfirmDouble > #infobar > #info-state::after {
        content: 'to confirm';
    }

    #main.state-ToMove > #infobar > #info-state::after {
        content: 'to play';
    }

    #main.state-Won > #infobar > #info-state::after {
        content: 'wins';
    }

    #main > #infobar > #info-pips::before, #main > #infobar > #info-match::before, #main > #infobar > .mini-button::before {
        opacity: 0;
        pointer-events: none;
        -moz-transition: opacity .1s ease-in-out;
        -o-transition: opacity .1s ease-in-out;
        -webkit-transition: opacity .1s ease-in-out;
        transition: opacity .1s ease-in-out;
        position: absolute;
        background: hsl(31.85, 50%, 80%);
        padding: .2vw 1vw;
        font-size: 1.1vw;
        color: hsl(31.85, 50%, 20%);
        border: .2vw solid hsl(31.85, 50%, 20%);
        border-radius: .5vw;
        box-shadow: .1vw .1vw .2vw rgba(0, 0, 0, .5);
        text-align: center;
    }

    #main > #infobar > #info-pips::before, #main > #infobar > #info-match::before {
        width: 16vw;
        top: 6.1vw;
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #main > #infobar > .mini-button::before {
        width: auto;
        white-space: nowrap;
        top: 1.5vw;
        right: -1.25vw;
    }

    #main > #infobar > #info-pips:hover::before, #main > #infobar > #info-match:hover::before, #main > #infobar > .mini-button:hover::before {
        opacity: 1;
    }

    #main > #infobar > #info-pips::before {
        content: 'Shows the sum of how many steps all of your pieces are away from home.';
    }

    #main > #infobar > #info-match::before {
        content: 'Shows your score within the current match.';
    }

    #main > #infobar > #info-pips > .infobox-inner::after {
        content: 'pips';
        font-size: 2vw;
    }

    #main > #infobar > #info-match > .infobox-inner::after {
        content: 'match';
        font-size: 1.5vw;
    }

    #main > #infobar > .mini-button {
        position: absolute;
        width: 0;
        height: 0;
        left: 91.25vw;
        top: 1.25vw;
    }

        #main:not(.state-Won) > #infobar > .mini-button:hover, #main > #infobar > .mini-button:not(#resign):hover {
            border-radius: 100%;
            box-shadow: 0 0 3vw 1vw rgba(0, 0, 0, .5);
        }

        #main > #infobar > .mini-button::after {
            content: '';
            position: absolute;
            left: -1.25vw;
            top: -1.25vw;
            right: -1.25vw;
            bottom: -1.25vw;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        #main > #infobar > .mini-button#chat, #main > #infobar > .mini-button#settings {
            left: 94.75vw;
        }

        #main > #infobar > .mini-button#resign, #main > #infobar > .mini-button#settings {
            top: 4.75vw;
        }

        #main > #infobar > .mini-button#help::after {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"><path style="fill:%23d9b58c" d="M 582,745 410,745 C 409,720 409,705 409,700 409,644 418,598 437,562 455,526 492,485 548,440 603,395 636,366 647,352 664,330 672,306 672,279 672,242 657,210 628,184 598,158 558,145 508,145 460,145 420,158 388,186 355,213 333,255 321,311 L 146,290 C 151,209 186,141 249,85 313,28 397,0 500,0 609,0 696,29 760,86 825,142 857,209 857,284 857,326 845,366 822,403 798,441 747,492 670,556 630,589 605,616 595,636 586,657 581,693 582,745 z M 410,1000 410,811 600,811 600,1000 z"/></svg>');
        }

        #main > #infobar > .mini-button#chat::after {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"><path style="fill:%23d9b58c" d="M 1000,351 C 1000,448 944,535 854,599 809,631 755,656 695,674 665,683 634,690 601,694 557,859 411,979 251,1000 356,957 407,817 399,694 367,689 335,683 305,674 246,656 192,630 146,599 56,535 0,447 0,351 0,157 224,0 500,0 776,0 1000,157 1000,351 z"/></svg>');
        }

        #main > #infobar > .mini-button#resign::after {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"><path style="fill:%23d9b58c" d="M 100,0 0,25 225,1000 300,975 211,539 C 244,510 301,475 375,475 525,475 525,550 525,550 525,550 525,600 550,600 591,600 662,550 750,550 875,550 900,625 900,625 L 1000,175 C 1000,175 925,100 775,100 625,100 575,125 575,125 575,125 600,25 375,25 288,25 177,61 117,83 z"/></svg>');
        }

        #main > #infobar > .mini-button#settings::after {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"><path style="fill:%23d9b58c" d="M 778 0 C 720 0 662 21 618 65 C 553 131 536 226 568 307 L 308 567 C 227 534 131 551 66 616 C 10 672 -10 748 4 819 L 172 652 L 312 687 L 313 688 L 348 829 L 181 996 C 252 1010 329 990 384 935 C 449 869 466 773 433 692 L 692 433 C 774 466 871 450 937 384 C 992 328 1012 252 998 181 L 831 348 L 689 313 L 654 172 L 822 4 C 807 1 792 0 778 0 z"/></svg>');
        }

        #main > #infobar > .mini-button#help::before {
            content: 'Rules and help';
        }

        #main > #infobar > .mini-button#help:hover::after {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"><path style="fill:%23f0d9b5" d="M 582,745 410,745 C 409,720 409,705 409,700 409,644 418,598 437,562 455,526 492,485 548,440 603,395 636,366 647,352 664,330 672,306 672,279 672,242 657,210 628,184 598,158 558,145 508,145 460,145 420,158 388,186 355,213 333,255 321,311 L 146,290 C 151,209 186,141 249,85 313,28 397,0 500,0 609,0 696,29 760,86 825,142 857,209 857,284 857,326 845,366 822,403 798,441 747,492 670,556 630,589 605,616 595,636 586,657 581,693 582,745 z M 410,1000 410,811 600,811 600,1000 z"/></svg>');
        }

        #main > #infobar > .mini-button#chat::before {
            content: 'Chat';
        }

        #main > #infobar > .mini-button#chat:hover::after {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"><path style="fill:%23f0d9b5" d="M 1000,351 C 1000,448 944,535 854,599 809,631 755,656 695,674 665,683 634,690 601,694 557,859 411,979 251,1000 356,957 407,817 399,694 367,689 335,683 305,674 246,656 192,630 146,599 56,535 0,447 0,351 0,157 224,0 500,0 776,0 1000,157 1000,351 z"/></svg>');
        }

        #main > #infobar > .mini-button#settings::before {
            content: 'Settings';
        }

        #main > #infobar > .mini-button#settings:hover::after {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"><path style="fill:%23f0d9b5" d="M 778 0 C 720 0 662 21 618 65 C 553 131 536 226 568 307 L 308 567 C 227 534 131 551 66 616 C 10 672 -10 748 4 819 L 172 652 L 312 687 L 313 688 L 348 829 L 181 996 C 252 1010 329 990 384 935 C 449 869 466 773 433 692 L 692 433 C 774 466 871 450 937 384 C 992 328 1012 252 998 181 L 831 348 L 689 313 L 654 172 L 822 4 C 807 1 792 0 778 0 z"/></svg>');
        }

    #main:not(.state-Won) > #infobar > .mini-button#resign::before {
        content: 'Resign this game';
    }

    #main:not(.state-Won) > #infobar > .mini-button#resign:hover::after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1000" height="1000"><path style="fill:%23f0d9b5" d="M 100,0 0,25 225,1000 300,975 211,539 C 244,510 301,475 375,475 525,475 525,550 525,550 525,550 525,600 550,600 591,600 662,550 750,550 875,550 900,625 900,625 L 1000,175 C 1000,175 925,100 775,100 625,100 575,125 575,125 575,125 600,25 375,25 288,25 177,61 117,83 z"/></svg>');
    }

    #main.state-Won > #infobar > .mini-button#resign {
        opacity: .2;
    }

button {
    background-color: hsl(32, 52%, 34.3%);
    background-image: linear-gradient(hsl(32, 52%, 44%), hsl(32, 52%, 22%));
    border: .15vw solid;
    border-color: hsl(32, 52%, 30%) hsl(32, 52%, 20%) hsl(32, 52%, 20%) hsl(32, 52%, 30%);
    border-radius: .6vw;
    box-shadow: .05vw .1vw 0 0 hsl(32, 52%, 48%) inset;
    color: hsl(32, 90%, 92.5%);
    font: inherit;
    padding: .2em 1em;
    text-align: center;
    text-shadow: -.1vw -.1vw 0 hsl(32, 52%, 24.3%);
    text-transform: uppercase;
    white-space: nowrap;
}

    button:hover, button:active, button:focus {
        background-color: hsl(32, 52%, 44.3%);
        background-image: linear-gradient(hsl(32, 52%, 54%), hsl(32, 52%, 32%));
        border: .15vw solid;
        border-color: hsl(32, 52%, 40%) hsl(32, 52%, 30%) hsl(32, 52%, 30%) hsl(32, 52%, 40%);
        border-radius: .6vw;
        box-shadow: .05vw .1vw 0 0 hsl(32, 52%, 58%) inset;
        color: white;
        font: inherit;
        padding: .2em 1em;
        text-align: center;
        text-shadow: -.1vw -.1vw 0 hsl(32, 52%, 34.3%);
        text-transform: uppercase;
        white-space: nowrap;
    }

    button:active {
        background-image: linear-gradient(hsl(32, 52%, 32%), hsl(32, 52%, 54%));
    }

    button#undo::before {
        content: 'Undo';
    }

    button#commit::before {
        content: 'Commit';
    }

    button#roll::before {
        content: 'Roll';
    }

    button#double::before {
        content: 'Double';
    }

    button#accept::before {
        content: 'Accept';
    }

    button#reject::before {
        content: 'Reject';
    }

    button#resign-confirm::before {
        content: 'Resign';
    }

    button#resign-cancel::before {
        content: 'Cancel';
    }

@keyframes hypo-blink {
    from {
        opacity: .9;
    }

    to {
        opacity: .7;
    }
}

@keyframes selectable-blink {
    from {
        opacity: .3;
    }

    to {
        opacity: .1;
    }
}
