[*.cs]

# IDE0130: Let me specify my namespaces
dotnet_diagnostic.IDE0130.severity = none

# IDE0305: Let me use .ToArray()/.ToList()
dotnet_diagnostic.IDE0305.severity = none

# SYSLIB1045: Convert to 'GeneratedRegexAttribute'.
dotnet_diagnostic.SYSLIB1045.severity = none

# CA1859: I know how to use return types
dotnet_diagnostic.CA1859.severity = none

# IDE0051: The WebSocket methods aren’t truly “unused”
dotnet_diagnostic.IDE0051.severity = none
